{% extends 'base.html' %}{% block content %}{% load jalali_tags static %}
{#{% load static %}#}
      <!-- Start Banner Area -->
      <div
        class="banner banner-single-post post-formate post-standard alignwide"
      >
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <!-- Start Single Slide  -->
              <div class="content-block">
                <!-- Start Post Thumbnail  -->
                <div class="post-thumbnail">
                  <img
                    src="{{ post.cover.url }}"
                    alt="{{ post.title }}"
                  />
                </div>
                <!-- End Post Thumbnail  -->
                <!-- Start Post Content  -->
                <div class="post-content">
                  <div class="post-cat">
                    <div class="post-cat-list">
                      <a class="hover-flip-item-wrapper" href="#">
                        <span class="hover-flip-item">
                          <span data-text="{{ post.category }}"
                            >{{ post.category }}</span
                          >
                        </span>
                      </a>
                    </div>
                  </div>
                  <h1 class="title">
                    {{ post.title }}
                  </h1>
                  <!-- Post Meta  -->
                  <div class="post-meta-wrapper">
                    <div class="post-meta">
                      <div class="post-author-avatar border-rounded">
                        <img
                          src="assets/images/post-images/author/author-image-3.png"
                          alt="Author Images"
                        />
                      </div>
                      <div class="content">
                        <h6 class="post-author-name">
                          <a class="hover-flip-item-wrapper" href="author.html">
                            <span class="hover-flip-item">
                              <span data-text="{{ post.author }}">{{ post.author }}</span>
                            </span>
                          </a>
                        </h6>
                        <ul class="post-meta-list">
                          <li>{{ post.updated_at|to_jalali:"%Y/%m/%d" }}</li>
                          <li>{{ post.visit }} نفر بازدید</li>
                        </ul>
                      </div>
                    </div>
                    <ul class="social-share-transparent justify-content-end">
                      <li>
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                      </li>
                      <li>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                      </li>
                      <li>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                      </li>
                      <li>
                        <a href="#"><i class="fas fa-link"></i></a>
                      </li>
                    </ul>
                  </div>
                </div>
                <!-- End Post Content  -->
              </div>
              <!-- End Single Slide  -->
            </div>
          </div>
        </div>
      </div>
      <!-- End Banner Area -->

      <!-- Start Post Single Wrapper  -->
      <div class="post-single-wrapper axil-section-gap bg-color-white">
        <div class="container">
          <div class="row">
            <div class="col-lg-8">
              <div class="axil-post-details text-justify">
                {{ post.description }}
                <div class="tagcloud">
                    {% for tag in post.tag.all%}
                        <a href="#">{{ tag.name }}</a>
                    {% endfor %}

                </div>

                <div class="social-share-block">
                  <div class="post-like">
                    <a href="#"
                      ><i class="fal fa-thumbs-up"></i
                      ><span>2.2 نفر لایک</span></a
                    >
                  </div>
                  <ul class="social-icon icon-rounded-transparent md-size">
                    <li>
                      <a href="#"><i class="fab fa-facebook-f"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="fab fa-instagram"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="fab fa-twitter"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="fab fa-linkedin-in"></i></a>
                    </li>
                  </ul>
                </div>

                <!-- Start Author  -->
                <div class="about-author">
                  <div class="media">
                    <div class="thumbnail">
                      <a href="#">
                        <img
                          src="assets/images/post-images/author/author-b1.png"
                          alt="Author Images"
                        />
                      </a>
                    </div>
                    <div class="media-body">
                      <div class="author-info">
                        <h5 class="title">
                          <a class="hover-flip-item-wrapper" href="#">
                            <span class="hover-flip-item">
                              <span data-text="رهبی احمدخان">رهبی احمدخان</span>
                            </span>
                          </a>
                        </h5>
                        <span class="b3 subtitle">طراح UX Sr</span>
                      </div>
                      <div class="content">
                        <p class="b2 description">
                          در 29 سالگی، تعریف مورد علاقه من این است که به من می
                          گویند شبیه مادرم هستم. دیدن خودم در تصویر او، مانند
                          این دختر در بالا، باعث می‌شود به این که چقدر پیشرفت
                          کرده‌ام افتخار کنم و از جایی که از آن آمده‌ام بسیار
                          سپاسگزارم.
                        </p>
                        <ul class="social-share-transparent size-md">
                          <li>
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                          </li>
                          <li>
                            <a href="#"><i class="fab fa-instagram"></i></a>
                          </li>
                          <li>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                          </li>
                          <li>
                            <a href="#"><i class="far fa-envelope"></i></a>
                          </li>
                          <li>
                            <a href="#"><i class="fab fa-linkedin-in"></i></a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- End Author  -->

                <!-- Start Comment Form Area  -->
                <div class="axil-comment-area">
                  <div class="axil-total-comment-post">
                    <div class="title">
                      <h4 class="mb--0">بیش از 30 نظر ثبت شده</h4>
                    </div>
                    <div class="cerchio">
                      <div class="add-comment-button">
                        <a
                          class="axil-button button-rounded"
                          href="post-details.html"
                          tabindex="0"
                          ><span>ثبت نظر</span></a
                        >
                      </div>
                    </div>
                  </div>

                  <!-- Start Comment Respond  -->
                  <div class="comment-respond">
                    <h4 class="title">ثبت یک نظر</h4>
                    <form action="#">
                      <p class="comment-notes">
                        <span id="email-notes"
                          >آدرس ایمیل شما منتشر نخواهد شد.</span
                        >
                        فیلدهای الزامی مشخص شده اند
                        <span class="required">*</span>
                      </p>
                      <div class="row row--10">
                        <div class="col-lg-4 col-md-4 col-12">
                          <div class="form-group">
                            <label>نام</label>
                            <input id="name" type="text" />
                          </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-12">
                          <div class="form-group">
                            <label>پست الکترونیکی</label>
                            <input id="email" type="email" />
                          </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-12">
                          <div class="form-group">
                            <label>لینک وب سایت</label>
                            <input id="website" type="text" />
                          </div>
                        </div>
                        <div class="col-12">
                          <div class="form-group">
                            <label>پیام شما</label>
                            <textarea name="message"></textarea>
                          </div>
                        </div>
                        <div class="col-lg-12">
                          <p class="comment-form-cookies-consent">
                            <input
                              id="wp-comment-cookies-consent"
                              name="wp-comment-cookies-consent"
                              type="checkbox"
                              value="yes"
                            />
                            <label for="wp-comment-cookies-consent"
                              >برای دفعه بعد که نظر می دهم نام، ایمیل و وب سایت
                              من را در این مرورگر ذخیره کنید.</label
                            >
                          </p>
                        </div>
                        <div class="col-lg-12">
                          <div class="form-submit cerchio">
                            <input
                              name="submit"
                              type="submit"
                              id="submit"
                              class="axil-button button-rounded"
                              value="ثبت نظر"
                            />
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                  <!-- End Comment Respond  -->

                  <!-- Start Comment Area  -->
                  <div class="axil-comment-area">
                    <h4 class="title">2 نظر ثبت شده</h4>
                    <ul class="comment-list">
                      <!-- Start Single Comment  -->
                      <li class="comment">
                        <div class="comment-body">
                          <div class="single-comment">
                            <div class="comment-img">
                              <img
                                src="assets/images/post-images/author/author-b2.png"
                                alt="Author Images"
                              />
                            </div>
                            <div class="comment-inner">
                              <h6 class="commenter">
                                <a class="hover-flip-item-wrapper" href="#">
                                  <span class="hover-flip-item">
                                    <span data-text="کامرون ویلیامسون"
                                      >کامرون ویلیامسون</span
                                    >
                                  </span>
                                </a>
                              </h6>
                              <div class="comment-meta">
                                <div class="time-spent">
                                  نوامبر 23, 2018 در 12:23 ب.ظ
                                </div>
                                <div class="reply-edit">
                                  <div class="reply">
                                    <a
                                      class="comment-reply-link hover-flip-item-wrapper"
                                      href="#"
                                    >
                                      <span class="hover-flip-item">
                                        <span data-text="پاسخ">پاسخ</span>
                                      </span>
                                    </a>
                                  </div>
                                </div>
                              </div>
                              <div class="comment-text">
                                <p class="b2">
                                  در این صورت می توان امید داشت که تمام و دشواری
                                  موجود در ارائه راهکارها و شرایط سخت تایپ به
                                  پایان رسد وزمان مورد نیاز شامل حروفچینی
                                  دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل
                                  دنیای موجود طراحی اساسا مورد استفاده قرار
                                  گیرد.
                                </p>
                              </div>
                            </div>
                          </div>
                        </div>
                        <ul class="children">
                          <!-- Start Single Comment  -->
                          <li class="comment">
                            <div class="comment-body">
                              <div class="single-comment">
                                <div class="comment-img">
                                  <img
                                    src="assets/images/post-images/author/author-b3.png"
                                    alt="Author Images"
                                  />
                                </div>
                                <div class="comment-inner">
                                  <h6 class="commenter">
                                    <a class="hover-flip-item-wrapper" href="#">
                                      <span class="hover-flip-item">
                                        <span data-text="رهبی خان"
                                          >رهبی خان</span
                                        >
                                      </span>
                                    </a>
                                  </h6>
                                  <div class="comment-meta">
                                    <div class="time-spent">
                                      نوامبر 23, 2018 در 12:23 ب.ظ
                                    </div>
                                    <div class="reply-edit">
                                      <div class="reply">
                                        <a
                                          class="comment-reply-link hover-flip-item-wrapper"
                                          href="#"
                                        >
                                          <span class="hover-flip-item">
                                            <span data-text="پاسخ">پاسخ</span>
                                          </span>
                                        </a>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="comment-text">
                                    <p class="b2">
                                      کتابهای زیادی در شصت و سه درصد گذشته، حال
                                      و آینده شناخت فراوان جامعه و متخصصان را می
                                      طلبد تا با نرم افزارها شناخت بیشتری را
                                      برای طراحان رایانه ای علی الخصوص طراحان
                                      خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد
                                      کرد.
                                    </p>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </li>
                          <!-- End Single Comment  -->
                        </ul>
                      </li>
                      <!-- End Single Comment  -->

                      <!-- Start Single Comment  -->
                      <li class="comment">
                        <div class="comment-body">
                          <div class="single-comment">
                            <div class="comment-img">
                              <img
                                src="assets/images/post-images/author/author-b2.png"
                                alt="Author Images"
                              />
                            </div>
                            <div class="comment-inner">
                              <h6 class="commenter">
                                <a class="hover-flip-item-wrapper" href="#">
                                  <span class="hover-flip-item">
                                    <span data-text="رهبی خان">رهبی خان</span>
                                  </span>
                                </a>
                              </h6>
                              <div class="comment-meta">
                                <div class="time-spent">
                                  نوامبر 23, 2018 در 12:23 ب.ظ
                                </div>
                                <div class="reply-edit">
                                  <div class="reply">
                                    <a
                                      class="comment-reply-link hover-flip-item-wrapper"
                                      href="#"
                                    >
                                      <span class="hover-flip-item">
                                        <span data-text="پاسخ">پاسخ</span>
                                      </span>
                                    </a>
                                  </div>
                                </div>
                              </div>
                              <div class="comment-text">
                                <p class="b2">
                                  لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم
                                  از صنعت چاپ و با استفاده از طراحان گرافیک است.
                                  چاپگرها و متون بلکه روزنامه و مجله در ستون و
                                  سطرآنچنان که لازم است و برای شرایط فعلی
                                  تکنولوژی مورد نیاز و کاربردهای متنوع با هدف
                                  بهبود ابزارهای کاربردی می باشد.
                                </p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </li>
                      <!-- End Single Comment  -->
                    </ul>
                  </div>
                  <!-- End Comment Area  -->
                </div>
                <!-- End Comment Form Area  -->
              </div>
            </div>

            <div class="col-lg-4">
                {% include 'sidbar.html' %}
            </div>
          </div>
        </div>
      </div>
      <!-- End Post Single Wrapper  -->

      <!-- Start More Stories Area  -->
      <div class="axil-more-stories-area axil-section-gap bg-color-grey">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="section-title text-right">
                <h3 class="title">مطالب پیشنهادی</h3>
              </div>
            </div>
          </div>
          <div class="row">
            <!-- Start Stories Post  -->
            <div class="col-lg-3 col-md-6 col-sm-6 col-12">
              <!-- Start Post List  -->
              <div class="post-stories content-block mt--30">
                <div class="post-thumbnail">
                  <a href="post-details.html">
                    <img
                      src="assets/images/post-single/stories-01.jpg"
                      alt="Post Images"
                    />
                  </a>
                </div>
                <div class="post-content">
                  <div class="post-cat">
                    <div class="post-cat-list">
                      <a href="#">فضانورد</a>
                    </div>
                  </div>
                  <h5 class="title">
                    <a href="post-details.html"
                      >مایکروسافت و بریجستون تایرهای بلادرنگ را عرضه می کنند</a
                    >
                  </h5>
                </div>
              </div>
              <!-- End Post List  -->
            </div>
            <!-- Start Stories Post  -->

            <!-- Start Stories Post  -->
            <div class="col-lg-3 col-md-6 col-sm-6 col-12">
              <!-- Start Post List  -->
              <div class="post-stories content-block mt--30">
                <div class="post-thumbnail">
                  <a href="post-details.html">
                    <img
                      src="assets/images/post-single/stories-02.jpg"
                      alt="Post Images"
                    />
                  </a>
                </div>
                <div class="post-content">
                  <div class="post-cat">
                    <div class="post-cat-list">
                      <a href="#">اپلیکیشن</a>
                    </div>
                  </div>
                  <h5 class="title">
                    <a href="post-details.html"
                      >بررسی Dell XPS 15 (2020): طراحی جدید، مشکلات جدید</a
                    >
                  </h5>
                </div>
              </div>
              <!-- End Post List  -->
            </div>
            <!-- Start Stories Post  -->

            <!-- Start Stories Post  -->
            <div class="col-lg-3 col-md-6 col-sm-6 col-12">
              <!-- Start Post List  -->
              <div class="post-stories content-block mt--30">
                <div class="post-thumbnail">
                  <a href="post-details.html">
                    <img
                      src="assets/images/post-single/stories-03.jpg"
                      alt="Post Images"
                    />
                  </a>
                </div>
                <div class="post-content">
                  <div class="post-cat">
                    <div class="post-cat-list">
                      <a href="#">نرم افزار</a>
                    </div>
                  </div>
                  <h5 class="title">
                    <a href="post-details.html"
                      >تماس خودکار و تصادفی گوشی‌های پیکسل به مخاطبان کاربران</a
                    >
                  </h5>
                </div>
              </div>
              <!-- End Post List  -->
            </div>
            <!-- Start Stories Post  -->

            <!-- Start Stories Post  -->
            <div class="col-lg-3 col-md-6 col-sm-6 col-12">
              <!-- Start Post List  -->
              <div class="post-stories content-block mt--30">
                <div class="post-thumbnail">
                  <a href="post-details.html">
                    <img
                      src="assets/images/post-single/stories-04.jpg"
                      alt="Post Images"
                    />
                  </a>
                </div>
                <div class="post-content">
                  <div class="post-cat">
                    <div class="post-cat-list">
                      <a href="#">وب و اینترنت</a>
                    </div>
                  </div>
                  <h5 class="title">
                    <a href="post-details.html"
                      >بررسی Oppo Find X2 Pro: گوشی هوشمند سوپراسپرت</a
                    >
                  </h5>
                </div>
              </div>
              <!-- End Post List  -->
            </div>
            <!-- Start Stories Post  -->
          </div>
        </div>
      </div>
      <!-- End More Stories Area  -->
{% endblock content %}