{% extends 'base.html' %}{% block content %}{% load jalali_tags static %}
{#{% load static %}#}

      <h1 class="d-none">لیست مقالات</h1>
      <!-- Start Post List Wrapper  -->
      <div class="axil-post-list-area axil-section-gap bg-color-white">
        <div class="container">
          <div class="row">
            <div class="col-lg-8 col-xl-8">
{#              <!-- Start Post List  -->#}
{#              <div class="content-block post-list-view sticky mt--30">#}
{#                <div class="post-content">#}
{#                  <div class="post-cat">#}
{#                    <div class="post-cat-list">#}
{#                      <a class="hover-flip-item-wrapper" href="#">#}
{#                        <span class="hover-flip-item">#}
{#                          <span data-text="سبک زندگی">سبک زندگی</span>#}
{#                        </span>#}
{#                      </a>#}
{#                    </div>#}
{#                  </div>#}
{#                  <h4 class="title">#}
{#                    <a href="post-details.html"#}
{#                      >امنیت فقط یک مشکل فناوری نیست، بلکه به طراحی نیز مربوط می#}
{#                      شود.#}
{#                    </a>#}
{#                  </h4>#}
{#                  <div class="post-meta-wrapper">#}
{#                    <div class="post-meta">#}
{#                      <div class="content">#}
{#                        <h6 class="post-author-name">#}
{#                          <a class="hover-flip-item-wrapper" href="author.html">#}
{#                            <span class="hover-flip-item">#}
{#                              <span data-text="رهبی خان">رهبی خان</span>#}
{#                            </span>#}
{#                          </a>#}
{#                        </h6>#}
{#                        <ul class="post-meta-list">#}
{#                          <li>17 بهمن, 1399</li>#}
{#                          <li>3 دقیقه زمان مطالعه</li>#}
{#                        </ul>#}
{#                      </div>#}
{#                    </div>#}
{#                    <ul class="social-share-transparent justify-content-end">#}
{#                      <li>#}
{#                        <a href="#"><i class="fab fa-facebook-f"></i></a>#}
{#                      </li>#}
{#                      <li>#}
{#                        <a href="#"><i class="fab fa-instagram"></i></a>#}
{#                      </li>#}
{#                      <li>#}
{#                        <a href="#"><i class="fab fa-twitter"></i></a>#}
{#                      </li>#}
{#                      <li>#}
{#                        <a href="#"><i class="fas fa-link"></i></a>#}
{#                      </li>#}
{#                    </ul>#}
{#                  </div>#}
{#                </div>#}
{#              </div>#}
{#              <!-- End Post List  -->#}

{#              <!-- Start Post List  -->#}
{#              <div class="content-block post-list-view mt--30">#}
{#                <div class="post-thumbnail">#}
{#                  <a href="post-details.html">#}
{#                    <img#}
{#                      src="{% static 'assets/images/post-images/post-list-02.jpg' %}"#}
{#                      alt="Post Images"#}
{#                    />#}
{#                  </a>#}
{#                  <a#}
{#                    class="video-popup size-medium position-top-center icon-color-secondary"#}
{#                    href="post-details.html"#}
{#                    ><span class="play-icon"></span#}
{#                  ></a>#}
{#                </div>#}
{#                <div class="post-content">#}
{#                  <div class="post-cat">#}
{#                    <div class="post-cat-list">#}
{#                      <a class="hover-flip-item-wrapper" href="#">#}
{#                        <span class="hover-flip-item">#}
{#                          <span data-text="فناوری و اطلاعات"#}
{#                            >فناوری و اطلاعات</span#}
{#                          >#}
{#                        </span>#}
{#                      </a>#}
{#                    </div>#}
{#                  </div>#}
{#                  <h4 class="title">#}
{#                    <a href="post-details.html"#}
{#                      >طراحی سنتی ما را در دوران COVID-19 نجات نخواهد داد</a#}
{#                    >#}
{#                  </h4>#}
{#                  <div class="post-meta-wrapper">#}
{#                    <div class="post-meta">#}
{#                      <div class="content">#}
{#                        <h6 class="post-author-name">#}
{#                          <a class="hover-flip-item-wrapper" href="author.html">#}
{#                            <span class="hover-flip-item">#}
{#                              <span data-text="رهبی خان">رهبی خان</span>#}
{#                            </span>#}
{#                          </a>#}
{#                        </h6>#}
{#                        <ul class="post-meta-list">#}
{#                          <li>17 بهمن, 1399</li>#}
{#                          <li>3 دقیقه زمان مطالعه</li>#}
{#                        </ul>#}
{#                      </div>#}
{#                    </div>#}
{#                    <ul class="social-share-transparent justify-content-end">#}
{#                      <li>#}
{#                        <a href="#"><i class="fab fa-facebook-f"></i></a>#}
{#                      </li>#}
{#                      <li>#}
{#                        <a href="#"><i class="fab fa-instagram"></i></a>#}
{#                      </li>#}
{#                      <li>#}
{#                        <a href="#"><i class="fab fa-twitter"></i></a>#}
{#                      </li>#}
{#                      <li>#}
{#                        <a href="#"><i class="fas fa-link"></i></a>#}
{#                      </li>#}
{#                    </ul>#}
{#                  </div>#}
{#                </div>#}
{#              </div>#}
{#              <!-- End Post List  -->#}

{#              <!-- Start Post List  -->#}
{#              <div class="content-block post-list-view format-quote mt--30">#}
{#                <div class="post-content">#}
{#                  <div class="post-cat">#}
{#                    <div class="post-cat-list">#}
{#                      <a class="hover-flip-item-wrapper" href="#">#}
{#                        <span class="hover-flip-item">#}
{#                          <span data-text="گردشگری">گردشگری</span>#}
{#                        </span>#}
{#                      </a>#}
{#                    </div>#}
{#                  </div>#}
{#                  <blockquote>#}
{#                    <h4 class="title">#}
{#                      <a href="post-details.html"#}
{#                        >اکنون می توانید به کل کتابخانه Design Better گوش دهید#}
{#                        <br />#}
{#                        کتاب های رایگان”</a#}
{#                      >#}
{#                    </h4>#}
{#                  </blockquote>#}
{#                  <div class="post-meta-wrapper">#}
{#                    <div class="post-meta">#}
{#                      <div class="content">#}
{#                        <h6 class="post-author-name">#}
{#                          <a class="hover-flip-item-wrapper" href="author.html">#}
{#                            <span class="hover-flip-item">#}
{#                              <span data-text="رهبی خان">رهبی خان</span>#}
{#                            </span>#}
{#                          </a>#}
{#                        </h6>#}
{#                        <ul class="post-meta-list">#}
{#                          <li>17 بهمن , 1399</li>#}
{#                          <li>3 دقیقه زمان مطالعه</li>#}
{#                        </ul>#}
{#                      </div>#}
{#                    </div>#}
{#                    <ul class="social-share-transparent justify-content-end">#}
{#                      <li>#}
{#                        <a href="#"><i class="fab fa-facebook-f"></i></a>#}
{#                      </li>#}
{#                      <li>#}
{#                        <a href="#"><i class="fab fa-instagram"></i></a>#}
{#                      </li>#}
{#                      <li>#}
{#                        <a href="#"><i class="fab fa-twitter"></i></a>#}
{#                      </li>#}
{#                      <li>#}
{#                        <a href="#"><i class="fas fa-link"></i></a>#}
{#                      </li>#}
{#                    </ul>#}
{#                  </div>#}
{#                </div>#}
{#              </div>#}
{#              <!-- End Post List  -->#}

                {% for item in posts %}
              <!-- Start Post List  -->
              <div class="content-block post-list-view mt--30">
                <div
                  class="post-thumbnail post-gallery-activation axil-slick-arrow arrow-between-side"
                >
                  <a href="post-details.html">
                    <img
                      src="{{ item.cover.url }}"
                      alt="Post Images"
                    />
                  </a>
                  <a href="post-details.html">
                    <img
                      src="{{ item.cover.url }}"
                      alt="Post Images"
                    />
                  </a>
                  <a href="post-details.html">
                    <img
                      src="{{ item.cover.url }}"
                      alt="Post Images"
                    />
                  </a>
                </div>
                <div class="post-content">
                  <div class="post-cat">
                    <div class="post-cat-list">
                      <a class="hover-flip-item-wrapper" href="#">
                        <span class="hover-flip-item">
                          <span data-text="{{ item.category }}">{{ item.category }}</span>
                        </span>
                      </a>
                    </div>
                  </div>
                  <h4 class="title">
                    <a href="{% url 'blog:detail' item.id %}"
                      >{{ item.title }}</a
                    >
                  </h4>
                  <div class="post-meta-wrapper">
                    <div class="post-meta">
                      <div class="content">
                        <h6 class="post-author-name">
                          <a class="hover-flip-item-wrapper" href="author.html">
                            <span class="hover-flip-item">
                              <span data-text="{{ item.author }}">{{ item.author }}</span>
                            </span>
                          </a>
                        </h6>
                        <ul class="post-meta-list">
                          <li>{{ item.updated_at|to_jalali:'%Y/%m/%d'}}</li>
                        </ul>
                      </div>
                    </div>
                    <ul class="social-share-transparent justify-content-end">
                      <li>
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                      </li>
                      <li>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                      </li>
                      <li>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                      </li>
                      <li>
                        <a href="#"><i class="fas fa-link"></i></a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <!-- End Post List  -->
                {% endfor %}

{#              <!-- Start Post List  -->#}
{#              <div class="content-block post-list-view mt--30">#}
{#                <div class="post-thumbnail">#}
{#                  <a href="post-details.html">#}
{#                    <img#}
{#                      src="{% static 'assets/images/post-images/post-list-05.jpg' %}"#}
{#                      alt="Post Images"#}
{#                    />#}
{#                  </a>#}
{#                </div>#}
{#                <div class="post-content">#}
{#                  <div class="post-cat">#}
{#                    <div class="post-cat-list">#}
{#                      <a class="hover-flip-item-wrapper" href="#">#}
{#                        <span class="hover-flip-item">#}
{#                          <span data-text="بازی و سرگرمی">بازی و سرگرمی</span>#}
{#                        </span>#}
{#                      </a>#}
{#                    </div>#}
{#                  </div>#}
{#                  <h4 class="title">#}
{#                    <a href="post-details.html"#}
{#                      >برای ارتقای بازی خلاقانه خود با DJI Mavic Air 2 جدید#}
{#                      آماده شوید</a#}
{#                    >#}
{#                  </h4>#}
{#                  <div class="post-meta-wrapper">#}
{#                    <div class="post-meta">#}
{#                      <div class="content">#}
{#                        <h6 class="post-author-name">#}
{#                          <a class="hover-flip-item-wrapper" href="author.html">#}
{#                            <span class="hover-flip-item">#}
{#                              <span data-text="رهبی خان">رهبی خان</span>#}
{#                            </span>#}
{#                          </a>#}
{#                        </h6>#}
{#                        <ul class="post-meta-list">#}
{#                          <li>17 بهمن, 1399</li>#}
{#                          <li>3 دقیقه زمان مطالعه</li>#}
{#                        </ul>#}
{#                      </div>#}
{#                    </div>#}
{#                    <ul class="social-share-transparent justify-content-end">#}
{#                      <li>#}
{#                        <a href="#"><i class="fab fa-facebook-f"></i></a>#}
{#                      </li>#}
{#                      <li>#}
{#                        <a href="#"><i class="fab fa-instagram"></i></a>#}
{#                      </li>#}
{#                      <li>#}
{#                        <a href="#"><i class="fab fa-twitter"></i></a>#}
{#                      </li>#}
{#                      <li>#}
{#                        <a href="#"><i class="fas fa-link"></i></a>#}
{#                      </li>#}
{#                    </ul>#}
{#                  </div>#}
{#                </div>#}
{#              </div>#}
{#              <!-- End Post List  -->#}
            </div>
            <div class="col-lg-4 col-xl-4 mt_md--40 mt_sm--40">
              <!-- Start Sidebar Area  -->
              <div class="sidebar-inner">
                <!-- Start Single Widget  -->
                <div class="axil-single-widget widget widget_categories mb--30">
                  <ul>
                      {% for item in category %}
                    <li class="cat-item">
                      <a href="#" class="inner">
                        <div class="thumbnail">
                          <img
                            src="{{ item.image.url }}"
                            alt=""
                          />
                        </div>
                        <div class="content">
                          <h6 class="title">{{ item.name }}</h6>
                        </div>
                      </a>
                    </li>
                      {% endfor %}
                  </ul>
                </div>
                <!-- End Single Widget  -->

                <!-- Start Single Widget  -->
                <div class="axil-single-widget widget widget_search mb--30">
                  <h5 class="widget-title">جستجو</h5>
                  <form action="#">
                    <div class="axil-search form-group">
                      <button type="submit" class="search-button">
                        <i class="fal fa-search"></i>
                      </button>
                      <input
                        type="text"
                        class="form-control"
                        placeholder="جستجو"
                      />
                    </div>
                  </form>
                </div>
                <!-- End Single Widget  -->

                <!-- Start Single Widget  -->
                <div class="axil-single-widget widget widget_postlist mb--30">
                  <h5 class="widget-title">بهترین های هفته</h5>
                  <!-- Start Post List  -->
                  <div class="post-medium-block">
                    <!-- Start Single Post  -->
                    <div class="content-block post-medium mb--20">
                      <div class="post-thumbnail">
                        <a href="post-details.html">
                          <img
                            src="{% static 'assets/images/small-images/blog-sm-01.jpg' %}"
                            alt="Post Images"
                          />
                        </a>
                      </div>
                      <div class="post-content">
                        <h6 class="title">
                          <a href="post-details.html"
                            >تغییر ناگهانی در هیات مدیره استقلال
                          </a>
                        </h6>
                        <div class="post-meta">
                          <ul class="post-meta-list">
                            <li>14 مهر, 1400</li>
                            <li>300 نفر بازدید</li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <!-- End Single Post  -->

                    <!-- Start Single Post  -->
                    <div class="content-block post-medium mb--20">
                      <div class="post-thumbnail">
                        <a href="post-details.html">
                          <img
                            src="{% static 'assets/images/small-images/blog-sm-02.jpg' %}"
                            alt="Post Images"
                          />
                        </a>
                      </div>
                      <div class="post-content">
                        <h6 class="title">
                          <a href="post-details.html"
                            >نخستین ویدئو کامل از مک بوک پرو</a
                          >
                        </h6>
                        <div class="post-meta">
                          <ul class="post-meta-list">
                            <li>14 مهر, 1400</li>
                            <li>300 نفر بازدید</li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <!-- End Single Post  -->

                    <!-- Start Single Post  -->
                    <div class="content-block post-medium mb--20">
                      <div class="post-thumbnail">
                        <a href="post-details.html">
                          <img
                            src="{% static 'assets/images/small-images/blog-sm-03.jpg' %}"
                            alt="Post Images"
                          />
                        </a>
                      </div>
                      <div class="post-content">
                        <h6 class="title">
                          <a href="post-details.html"
                            >محبوب‌ترین زبان برنامه‌نویسی کدام است؟</a
                          >
                        </h6>
                        <div class="post-meta">
                          <ul class="post-meta-list">
                            <li>14 مهر, 1400</li>
                            <li>300 نفر بازدید</li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <!-- End Single Post  -->
                  </div>
                  <!-- End Post List  -->
                </div>
                <!-- End Single Widget  -->

                <!-- Start Single Widget  -->
                <div class="axil-single-widget widget widget_social mb--30">
                  <h5 class="widget-title">شبکه های اجتماعی ما</h5>
                  <!-- Start Post List  -->
                  <ul class="social-icon md-size justify-content-center">
                    <li>
                      <a href="#"><i class="fab fa-facebook-f"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="fab fa-instagram"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="fab fa-twitter"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="fab fa-slack"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="fab fa-linkedin-in"></i></a>
                    </li>
                  </ul>
                  <!-- End Post List  -->
                </div>
                <!-- End Single Widget  -->
                <!-- Start Single Widget  -->
                <div class="axil-single-widget widget widget_instagram mb--30">
                  <h5 class="widget-title">اینستاگرام</h5>
                  <!-- Start Post List  -->
                  <ul class="instagram-post-list-wrapper">
                    <li class="instagram-post-list">
                      <a href="#">
                        <img
                          src="{% static 'assets/images/small-images/instagram-01.jpg' %}"
                          alt="Instagram Images"
                        />
                      </a>
                    </li>
                    <li class="instagram-post-list">
                      <a href="#">
                        <img
                          src="{% static 'assets/images/small-images/instagram-02.jpg' %}"
                          alt="Instagram Images"
                        />
                      </a>
                    </li>
                    <li class="instagram-post-list">
                      <a href="#">
                        <img
                          src="{% static 'assets/images/small-images/instagram-03.jpg' %}"
                          alt="Instagram Images"
                        />
                      </a>
                    </li>
                    <li class="instagram-post-list">
                      <a href="#">
                        <img
                          src="{% static 'assets/images/small-images/instagram-04.jpg' %}"
                          alt="Instagram Images"
                        />
                      </a>
                    </li>
                    <li class="instagram-post-list">
                      <a href="#">
                        <img
                          src="{% static 'assets/images/small-images/instagram-05.jpg' %}"
                          alt="Instagram Images"
                        />
                      </a>
                    </li>
                    <li class="instagram-post-list">
                      <a href="#">
                        <img
                          src="{% static 'assets/images/small-images/instagram-06.jpg' %}"
                          alt="Instagram Images"
                        />
                      </a>
                    </li>
                  </ul>
                  <!-- End Post List  -->
                </div>
                <!-- End Single Widget  -->
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End Post List Wrapper  -->

      <!-- Start Instagram Area  -->
      <div class="axil-instagram-area axil-section-gap bg-color-extra03">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="section-title text-right">
                <h3 class="title">اینستاگرام</h3>
              </div>
            </div>
          </div>
          <div class="row mt--30">
            <div class="col-lg-12">
              <ul class="instagram-post-list">
                <li class="single-post">
                  <a href="#">
                    <img
                      src="{% static 'assets/images/small-images/instagram-md-01.jpg' %}"
                      alt="Instagram Images"
                    />
                    <span class="instagram-button"
                      ><i class="fab fa-instagram"></i
                    ></span>
                  </a>
                </li>
                <li class="single-post">
                  <a href="#">
                    <img
                      src="{% static 'assets/images/small-images/instagram-md-02.jpg' %}"
                      alt="Instagram Images"
                    />
                    <span class="instagram-button"
                      ><i class="fab fa-instagram"></i
                    ></span>
                  </a>
                </li>
                <li class="single-post">
                  <a href="#">
                    <img
                      src="{% static 'assets/images/small-images/instagram-md-03.jpg' %}"
                      alt="Instagram Images"
                    />
                    <span class="instagram-button"
                      ><i class="fab fa-instagram"></i
                    ></span>
                  </a>
                </li>
                <li class="single-post">
                  <a href="#">
                    <img
                      src="{% static 'assets/images/small-images/instagram-md-04.jpg' %}"
                      alt="Instagram Images"
                    />
                    <span class="instagram-button"
                      ><i class="fab fa-instagram"></i
                    ></span>
                  </a>
                </li>
                <li class="single-post">
                  <a href="#">
                    <img
                      src="{% static 'assets/images/small-images/instagram-md-05.jpg' %}"
                      alt="Instagram Images"
                    />
                    <span class="instagram-button"
                      ><i class="fab fa-instagram"></i
                    ></span>
                  </a>
                </li>
                <li class="single-post">
                  <a href="#">
                    <img
                      src="{% static 'assets/images/small-images/instagram-md-06.jpg' %}"
                      alt="Instagram Images"
                    />
                    <span class="instagram-button"
                      ><i class="fab fa-instagram"></i
                    ></span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- End Instagram Area  -->
{% endblock content %}