{% load static %}
<!DOCTYPE html>
<html class="no-js" lang="fa">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>وبلاگ خبری و مجله ای بلاگر || Blogar - قالب وبلاگ شخصی</title>
    <meta name="robots" content="noindex, follow" />
    <meta name="description" content="" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <!-- Favicon -->
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="{% static 'assets/images/favicon.png' %}"
    />

    <!-- CSS
    ============================================ -->

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/vendor/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/vendor/font-awesome.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/vendor/slick.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/vendor/slick-theme.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/vendor/base.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/plugins/plugins.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}" />
  </head>

  <body dir="rtl">
    <div id="preloader">
      <span class="loader"></span>
    </div>
    <div class="main-wrapper">
      <div class="mouse-cursor cursor-outer"></div>
      <div class="mouse-cursor cursor-inner"></div>

      <div id="my_switcher" class="my_switcher">
        <ul>
          <li>
            <a
              href="javascript: void(0);"
              data-theme="light"
              class="setColor light"
            >
              <span title="Light Mode">روشن</span>
            </a>
          </li>
          <li>
            <a
              href="javascript: void(0);"
              data-theme="dark"
              class="setColor dark"
            >
              <span title="Dark Mode">تیره</span>
            </a>
          </li>
        </ul>
      </div>

        {% include 'header.html' %}


        {% block content %} {% endblock content %}


        {% include 'footer.html' %}

      <!-- Start Back To Top  -->
      <a id="backto-top"></a>
      <!-- End Back To Top  -->
    </div>

    <!-- JS
============================================ -->
    <!-- Modernizer JS -->
    <script src="{% static 'assets/js/vendor/modernizr.min.js' %}"></script>
    <!-- jQuery JS -->
    <script src="{% static 'assets/js/vendor/jquery.js' %}"></script>
    <!-- Bootstrap JS -->
    <script src="{% static 'assets/js/vendor/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/js/vendor/slick.min.js' %}"></script>
    <script src="{% static 'assets/js/vendor/tweenmax.min.js' %}"></script>
    <script src="{% static 'assets/js/vendor/js.cookie.js' %}"></script>
    <script src="{% static 'assets/js/vendor/jquery.style.switcher.js' %}"></script>

    <!-- Main JS -->
    <script src="{% static 'assets/js/main.js' %}"></script>
  </body>
</html>
