{% load static %}
      <!-- Start Footer Area  -->
      <footer class="axil-footer-area axil-footer-style-1 footer-variation-2">
        <div class="footer-mainmenu">
          <div class="container">
            <div class="row">
              <div class="col-lg-2 col-md-6 col-sm-6 col-12">
                <div class="footer-widget text-right">
                  <h3 class="title">لینک 1</h3>
                  <div class="inner">
                    <ul class="ft-menu-list">
                      <li><a href="#">لپ تاب</a></li>
                      <li><a href="#">کامپیوتر</a></li>
                      <li><a href="#">نرم افزار</a></li>
                      <li><a href="#">تبلت</a></li>
                      <li><a href="#">دوربین</a></li>
                      <li><a href="#">سیستم عامل</a></li>
                      <li><a href="#">سخت افزار</a></li>
                      <li><a href="#">هوش مصنوعی</a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-lg-2 col-md-6 col-sm-6 col-12">
                <div class="footer-widget text-right">
                  <h3 class="title">لینک 2</h3>
                  <div class="inner">
                    <ul class="ft-menu-list">
                      <li><a href="#">لپ تاب</a></li>
                      <li><a href="#">کامپیوتر</a></li>
                      <li><a href="#">نرم افزار</a></li>
                      <li><a href="#">تبلت</a></li>
                      <li><a href="#">دوربین</a></li>
                      <li><a href="#">سیستم عامل</a></li>
                      <li><a href="#">سخت افزار</a></li>
                      <li><a href="#">هوش مصنوعی</a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-lg-2 col-md-6 col-sm-6 col-12">
                <div class="footer-widget text-right">
                  <h3 class="title">لینک 3</h3>
                  <div class="inner">
                    <ul class="ft-menu-list">
                      <li><a href="#">لپ تاب</a></li>
                      <li><a href="#">کامپیوتر</a></li>
                      <li><a href="#">نرم افزار</a></li>
                      <li><a href="#">تبلت</a></li>
                      <li><a href="#">دوربین</a></li>
                      <li><a href="#">سیستم عامل</a></li>
                      <li><a href="#">سخت افزار</a></li>
                      <li><a href="#">هوش مصنوعی</a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-lg-2 col-md-6 col-sm-6 col-12">
                <div class="footer-widget text-right">
                  <h3 class="title">لینک 4</h3>
                  <div class="inner">
                    <ul class="ft-menu-list">
                      <li><a href="#">لپ تاب</a></li>
                      <li><a href="#">کامپیوتر</a></li>
                      <li><a href="#">نرم افزار</a></li>
                      <li><a href="#">تبلت</a></li>
                      <li><a href="#">دوربین</a></li>
                      <li><a href="#">سیستم عامل</a></li>
                      <li><a href="#">سخت افزار</a></li>
                      <li><a href="#">هوش مصنوعی</a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-lg-2 col-md-6 col-sm-6 col-12">
                <div class="footer-widget text-right">
                  <h3 class="title">لینک 5</h3>
                  <div class="inner">
                    <ul class="ft-menu-list">
                      <li><a href="#">لپ تاب</a></li>
                      <li><a href="#">کامپیوتر</a></li>
                      <li><a href="#">نرم افزار</a></li>
                      <li><a href="#">تبلت</a></li>
                      <li><a href="#">دوربین</a></li>
                      <li><a href="#">سیستم عامل</a></li>
                      <li><a href="#">سخت افزار</a></li>
                      <li><a href="#">هوش مصنوعی</a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-lg-2 col-md-6 col-sm-6 col-12">
                <div class="footer-widget text-right">
                  <h3 class="title">لینک 6</h3>
                  <div class="inner">
                    <ul class="ft-menu-list">
                      <li><a href="#">لپ تاب</a></li>
                      <li><a href="#">کامپیوتر</a></li>
                      <li><a href="#">نرم افزار</a></li>
                      <li><a href="#">تبلت</a></li>
                      <li><a href="#">دوربین</a></li>
                      <li><a href="#">سیستم عامل</a></li>
                      <li><a href="#">سخت افزار</a></li>
                      <li><a href="#">هوش مصنوعی</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Start Footer Top Area  -->
        <div class="footer-top">
          <div class="container">
            <div class="row">
              <div class="col-lg-4 col-md-4">
                <div class="logo text-right">
                  <a href="index.html">
                    <img
                      class="dark-logo"
                      src="{% static 'assets/images/logo/logo-black.png' %}"
                      alt="Logo Images"
                    />
                    <img
                      class="white-logo"
                      src="{% static 'assets/images/logo/logo-white2.png' %}"
                      alt="Logo Images"
                    />
                  </a>
                </div>
              </div>

              <div class="col-lg-8 col-md-8">
                <!-- Start Post List  -->
                <div
                  class="d-flex justify-content-start mt_sm--15 justify-content-md-end align-items-center flex-wrap"
                >
                  <h5 class="follow-title mb--0 mr--20">ما را دنبال کنید</h5>
                  <ul
                    class="social-icon color-tertiary md-size justify-content-start"
                  >
                    <li>
                      <a href="#"><i class="fab fa-facebook-f"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="fab fa-instagram"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="fab fa-twitter"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="fab fa-linkedin-in"></i></a>
                    </li>
                  </ul>
                </div>
                <!-- End Post List  -->
              </div>
            </div>
          </div>
        </div>
        <!-- End Footer Top Area  -->

        <!-- Start Copyright Area  -->
        <div class="copyright-area">
          <div class="container">
            <div class="row align-items-center">
              <div class="col-lg-9 col-md-8">
                <div class="copyright-left">
                  <ul class="mainmenu justify-content-start">
                    <li>
                      <a class="hover-flip-item-wrapper" href="#">
                        <span class="hover-flip-item">
                          <span data-text="تماس با ما">تماس با ما</span>
                        </span>
                      </a>
                    </li>
                    <li>
                      <a class="hover-flip-item-wrapper" href="#">
                        <span class="hover-flip-item">
                          <span data-text="شرایط و قوانین">شرایط و قوانین</span>
                        </span>
                      </a>
                    </li>
                    <li>
                      <a class="hover-flip-item-wrapper" href="#">
                        <span class="hover-flip-item">
                          <span data-text="درباره ما">درباره ما</span>
                        </span>
                      </a>
                    </li>
                    <li>
                      <a class="hover-flip-item-wrapper" href="#">
                        <span class="hover-flip-item">
                          <span data-text="تبلیغات با ما">تبلیغات با ما</span>
                        </span>
                      </a>
                    </li>
                    <li>
                      <a class="hover-flip-item-wrapper" href="#">
                        <span class="hover-flip-item">
                          <span data-text="لیست مقالات">لیست مقالات</span>
                        </span>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col-lg-3 col-md-4">
                <div
                  class="copyright-right text-end text-lg-start mt_md--20 mt_sm--20"
                >
                  <p class="b3">© کلیه حقوق این سایت محفوظ می باشد</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- End Copyright Area  -->
      </footer>
      <!-- End Footer Area  -->