{% load static %}
      <!-- Start Header -->
      <header class="header axil-header header-light header-sticky header-with-shadow">
        <div class="header-wrap">
          <div class="row justify-content-between align-items-center">
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-3 col-9">
              <div class="logo text-right mb-sm-0">
                <a href="{% url 'details:home' %}">
                  <img
                    class="dark-logo"
                    src="{% static 'assets/images/logo/logo-black.png' %}"
                    alt="Blogar logo"
                  />
                  <img
                    class="light-logo"
                    src="{% static 'assets/images/logo/logo-white2.png' %}"
                    alt="Blogar logo"
                  />
                </a>
              </div>
            </div>

            <div class="col-xl-6 d-none d-xl-block">
              <div class="mainmenu-wrapper">
                <nav class="mainmenu-nav">
                  <!-- Start Mainmanu Nav -->
                  <ul class="mainmenu">
                    <li>
                      <a href="{% url 'details:home' %}">خانه</a>
                    </li>
                    <li class="menu-item-has-children">
                      <a href="#">دسته بندی</a>
                      <ul class="axil-submenu">
                          {% for item in sidbar.category %}
                        <li>
                          <a class="hover-flip-item-wrapper" href="{% url 'blog:list'%}">
                            <span class="hover-flip-item">
                              <span data-text="همه">همه</span>
                            </span>
                          </a>
                        </li>
                          {% endfor %}
                      </ul>
                    </li>
                    <li>
                      <a href="contact.html">تماس با ما</a>
                    </li>
                    <li><a href="about.html">درباره ما</a></li>
                  </ul>
                  <!-- End Mainmanu Nav -->
                </nav>
              </div>
            </div>

            <div class="col-xl-3 col-lg-8 col-md-8 col-sm-9 col-3 text-st">
                <!-- Start Hamburger Menu  -->
                <div class="hamburger-menu d-block d-xl-none">
                  <div class="hamburger-inner">
                    <div class="icon"><i class="fal fa-bars"></i></div>
                  </div>
                </div>
                <!-- End Hamburger Menu  -->
              </div>
            </div>
          </div>
        </div>
      </header>
      <!-- Start Header -->

      <!-- Start Mobile Menu Area  -->
      <div class="popup-mobilemenu-area">
        <div class="inner">
          <div class="mobile-menu-top">
            <div class="logo">
              <a href="index.html">
                <img
                  class="dark-logo"
                  src="{% static 'assets/images/logo/logo-black.png' %}"
                  alt="Logo Images"
                />
                <img
                  class="light-logo"
                  src="{% static 'assets/images/logo/logo-white2.png' %}"
                  alt="Logo Images"
                />
              </a>
            </div>
            <div class="mobile-close">
              <div class="icon">
                <i class="fal fa-times"></i>
              </div>
            </div>
          </div>
          <ul class="mainmenu">
            <li><a href="index.html">خانه</a></li>
            <li class="menu-item-has-children">
              <a href="#">دسته بندی ها</a>
              <ul class="axil-submenu">
                <li><a href="post-details.html">فرهنگ و هنر</a></li>
                <li><a href="post-details.html">فناوری اطلاعات</a></li>
                <li><a href="post-details.html">ورزشی</a></li>
                <li><a href="post-details.html">نرم افزارهای کاربردی</a></li>
              </ul>
            </li>

            <li><a href="about.html">درباره ما</a></li>
            <li><a href="contact.html">تماس با ما</a></li>
          </ul>
        </div>
      </div>
      <!-- End Mobile Menu Area  -->